body {
  background: #141414;
  color: #ffffff;
}

/* .block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
} */

.movie_row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
img {
  width: 300px;
  height: 300px;
}
.card-text {
  font-size: large;
  white-space: normal !important;
}
.inline-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}
